.niws-state {
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.niws-state-task { 
    background-color: #9BC4D3;
    border-color: #9BC4D3;
    color: #2F4449 ;
}
.niws-state-start { 
    background-color: #FFF;
    color: #005E77;
    border-color: #05D3DD;
}
.niws-state-cancel { 
    background-color: #844D4D;
    border-color: #844D4D;
    color: #FFF;
}
.niws-state-complete { 
    background-color: #F1F2F2;
    border-color: #BCBEC0;
    color: #6A6F71;
}
.niws-state-rework { 
    background-color: #FFA300;
    border-color: #FFA300;
    color: #613C00;
}